<div>
  <div class="query-panel">
    <mat-card>
      <mat-card-content>
        <trade-query></trade-query>

      </mat-card-content>

    </mat-card>

  </div>
  <div class="trades-panel">
    <mat-card class="results-panel">
      <trade-results-table [tradeData]="tradesData"></trade-results-table>
    </mat-card>
    <span style="width: 10px"></span>
    <mat-card class="details-panel">
      <mat-card-header style="background-color: lightgray">
        <mat-card-title>Trade Id: </mat-card-title>
        <mat-card-subtitle>12345</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <trade-details></trade-details>

      </mat-card-content>
    </mat-card>
  </div>
</div>